<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="trackConnectionString" connectionString="Data Source=rds.agoge.com.br;Initial Catalog=track;Persist Security Info=True;User ID=xxxx;Password=xxxxxx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <customErrors mode="Off" />
    </system.web>

  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  
</configuration>
